<form class='form-all'>
  <label>Which morbid movies have you seen?</label><br>
  <input type="checkbox" name="movies" value="Dead Alive">Dead Alive<br>
  <input type="checkbox" name="movies" value="Evil Dead">Evil Dead<br>
  <input type="checkbox" name="movies" value="Evil Dead II">Evil Dead II<br>
  <input type="checkbox" name="movies" value="Army of Darkness">Army of Darkness<br>
  <input type="checkbox" name="movies" value="Friday the 13th">Friday the 13th<br>
  <input type="checkbox" name="movies" value="Halloween">Halloween<br>
  <input type="checkbox" name="movies" value="Texas Chainsaw Massacre">Texas Chainsaw Massacre<br>
  <input type="checkbox" name="movies" value="Halloween II">Halloween II<br>
  <input type="checkbox" name="movies" value="Jason Lives">Jason Lives<br>
  <input type="checkbox" name="movies" value="Jason X">Jason X<br>
  <input type="checkbox" name="movies" value="Nightmare on Elm Street">Nightmare on Elm Street<br>
  <input type="checkbox" name="movies" value="Audition">Audition<br>
  <input type="checkbox" name="movies" value="Piranha">Piranha<br>
  <input type="checkbox" name="movies" value="13 Ghosts">13 Ghosts<br>
  <input type="checkbox" name="movies" value="Ghost Ship">Ghost Ship<br>
  <input type="checkbox" name="movies" value="The Amityville Horror">The Amityville Horror<br>
  <input type="checkbox" name="movies" value="Antichrist">Antichrist<br>
  <input type="checkbox" name="movies" value="The Thing">The Thing<br>
  <input type="checkbox" name="movies" value="It Follows">It Follows<br>
  <button type='submit'>Submit</button>
</form>
