<!DOCTYPE html>
<html lang="en">
<% include partials/template/head.ejs %>
<body>
  <% include partials/template/header.ejs %>
  <a href='./moviequeue'>Take the Survey!</a>
  <a href='./results'>Results</a>
  <% include partials/template/footer.ejs %>
</body>
</html>
