<!DOCTYPE html>
<html lang="en">
<% include partials/template/head.ejs %>
<body>
  <% include partials/template/header.ejs %>
  <% include partials/template/survey.ejs %>
  <a href='..'>Back</a>
  <a href='../results'>Results</a>
  <% include partials/template/footer.ejs %>
</body>
</html>
