<!DOCTYPE html>
<html lang="en">
<% include partials/template/head.ejs %>
<body>
  <% include partials/template/header.ejs %>
  <div class='header-all'>RESULTS WILL GO HERE... HEHEHE</div>
  <a href='..'>Back</a>
  <% include partials/template/footer.ejs %>
</body>
</html>
